.jumbotron {
  width: 80%;
  display: block;
  float: right;
  text-align: center;
  border: 1px solid red;
  font-family: 'Lobster', cursive;
  font-size: 60px;
}

.navbar-header {
  padding-left: .5em;
  font-family: cursive;
}

.nav-tabs {
  font-weight: bold;
  font-family: 'Lobster', cursive;
  font-size: 20px;
}

.nav-pills {
  font-family: 'Lobster' cursive;
}

nav.navbar {
  margin-bottom: 1px;
}

nav.sub {
  margin-top: 1px;
}

#profile {
  width: 20%;
  float: left;
  background-color: red;
  padding: 1em;
  border-radius: 100px;
}

.container {
  border: 1px solid red;
}

.main {
  text-align: center;
  font-size: 24px;
  margin-bottom: 0.5em;
}

.project-links {
  border-left: 2px solid red;
}

.panel img {
  width: 100%;
}

.panel-body p {
  text-indent: 2.5em;
}

.bkgrn {
  margin: .5em;
}

span {
  text-decoration: underline;
}
