.jumbotron {
  width: 80%;
  display: block;
  float: right;
  text-align: center;
  border: 1px solid red;
}

#profile {
  width: 20%;
  float: left;
  background-color: red;
  padding: 1em;
  border-radius: 100px;
}

.topbar li {
  list-style: none;
  text-align: center;
}

#about {
  font-size: 24px;
  font-family: cursive;
}

.container {
  border: 1px solid red;
}

.main {
  text-align: center;
  font-size: 24px;
  margin-bottom: 0.5em;
}

.project-links {
  border-left: 2px solid red;
}

.panel img {
  width: 100%;
}

.panel-body p {
  text-indent: 2.5em;
}

.bkgrn {
  margin: .5em;
}
